@import "../../variable.scss";

.accounts {
    width: 100%;
    height: auto;
    padding: 6rem 1rem 1rem 1rem;
    background: #2c2c2c;
}
.msg{
    position: absolute;
    top: 5rem;
    border-radius: .2rem;
    color: $text-white;
}
.false, .true{
    background: red;
    z-index: 10000;
    padding: .5rem 3rem;
}
.true{
    background: green;
}
.wrapper {
    overflow: hidden;
    max-width: 390px;
    background: $text-whitish;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.wrapper .title-text {
    display: flex;
    width: 200%;
}
.wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.slide-controls .slide {
    height: 100%;
    width: 100%;
    // color: $text-white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}
.slide-controls label.signup {
    color: #000;
}
.slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: $golden;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="radio"] {
    display: none;
}
#signup:checked ~ .slider-tab {
    left: 50%;
}
#signup:checked ~ label.signup {
    // color: $text-dark;
    cursor: default;
    user-select: none;
}
#signup:checked ~ label.login {
    color: #000;
}
#login:checked ~ label.signup {
    color: #000;
}
#login:checked ~ label.login {
    cursor: default;
    user-select: none;
}
.wrapper .form-container {
    width: 100%;
    overflow: hidden;
}
.form-container .form-inner {
    display: flex;
    width: 200%;
}
.form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    background: transparent;
    font-size: 17px;
    transition: all 0.3s ease;
}
.form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
}
form .field input:focus::placeholder {
    color: #b3b3b3;
}
.form-inner form .pass-link {
    margin-top: 5px;
}
.form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
    color: #185a9d;
    text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
    text-decoration: underline;
}
form .btn {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background: $golden;
    position: relative;
    overflow: hidden;
}
form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: transparent;
    border: none;
    color: $text-dark !important;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width: 900px){
    .accounts{
        height: 93vh;
    }
    .wrapper{
        width: 65%;
        max-width: unset;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        max-width: 30rem;
        width: 90%;
        padding: 1rem 0.5rem;
    }
    .wrapper .title {
        font-size: 1.2rem;
    }
    .wrapper .slide-controls {
        height: 2rem;
        line-height: 1rem;
    }
    .slide-controls .slide {
        font-size: 0.8rem;
        line-height: 1.3rem;
        padding: .2rem 0;
    }
    .form-inner form .field {
        height: 2rem;
    }
    .form-inner form .field input {
        font-size: 0.9rem;
        padding-left: 0.4rem;
    }
    .form-inner form .pass-link {
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
    .form-inner form .signup-link {
        font-size: 0.8rem;
    }
}
